body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    background-color: #7b0b1e;
    background-image: url(https://thumbs.gfycat.com/CarefulInsignificantDuckbillcat-size_restricted.gif);
    background-size: cover;
}

#ppic2{
    display: inline-block;
    border: 3px solid #f1f1f1;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 100px;
    margin-left: -300px;
    height: 40vh;
    width: 100vh;
    /* background-color: black; */
}

#picC{
    display: inline-block;
    border: 3px solid #f1f1f1;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;
    background-image: url("images/ken_glitch.gif");
    height: 40vh;
    width: 39vh;
}


#subArea{
    /* margin: 500px ; */
    margin-left: 700px;
    margin-top: -300px;
}

#messageBtn {
    margin-left:160px;
    height: 50px;
    width: 200px;
}

#messageBtn:hover {
    cursor: pointer;
}

#menuBar1,
#menuBar2,
#menuBar3,
#sideBar {
    background-color: white;
}

#sideList a,
#logoutBtn{
    color:#7b0b1e;
}

#logoutBtn{
    display:block;
    color: #7b0b1e;
    background-color: white;
    padding: 1em;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
    border:none;
  }

  #sideList a:hover,
  #logoutBtn:hover{
    color: black;
  }

  #greetMsg{
    margin-top: -400px;
    margin-left: 1230px;
    font-weight:bolder;
    font-size: larger;
  }

  #greeter{
    margin-top: -400px;
    margin-left: 1230;
  }
  /* #greetMsgU{
    margin-top: -400px;
    margin-left: 1230px;
    font-weight:bolder;
    font-size: larger;
  } */                                                                                                                            