form {
    border: 3px solid #f1f1f1;
    width: 100%;
  padding: 12px 120px;
  margin: 50px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 25px;
}

body {background-color: #7b0b1e;}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

/*========================= NAV BAR ===========================*/
a {
  text-decoration: none;
}

#nav div#menuBtn {
  display: inline-block;
  cursor: pointer;
  background: none;

}

#menuBar1,
#menuBar2,
#menuBar3 {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.change #menuBar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change #menuBar2 {
  opacity: 0;
}

.change #menuBar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.navbar .container {
  max-width: 100%;
}

#menuBtn {
  margin: 15px;
}

/* ===============================side bar======================= */

#sideBar {
  position: fixed;
  width: 300px;
  left: -300px;
  top: 79px;
  bottom: 0;
  z-index: 1000;
  background-color: black;
  opacity: 0;
  cursor:default;
}

#sideList a{
  display:block;
  color: white;
  padding: 1em;
  text-decoration: none;
  font-size: larger;
  cursor:pointer;
}

#sideList a:hover, 
#logoutBtn:hover{
  color: #7b0b1e;
  font-size: medium;
  transition: 0.3s;
}

.change #sideBar {
  left: 0;
  opacity: 0.8;
  transition: all 300ms;
}