form {
    border: 3px solid #f1f1f1;
    width: 100%;
  padding: 12px 120px;
  margin: 50px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 25px;
}

body {background-color: #7b0b1e;}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}