* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: #7b0b1e;
  }

  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(255, 255, 255);
  }

  header{
    display: inline;
    padding: 100px;
    text-align: center;
  }
  .leftcolumn {
    float: left;
    width: 75%;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }

  .fakeimg {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px;
  }

  .card {
    background-color: rgb(122, 124, 128);
    padding: 20px;
    margin-top: 20px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(122, 124, 128);
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }

  #logoutBtn:hover{
    color: blue;
  }

  #sideBar2 {
    position: fixed;
    width: 300px;
    left: -300px;
    top: 79px;
    bottom: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0;
    cursor:default;
}

.change #sideBar2 {
  left: 0;
  opacity: 0.8;
  transition: all 300ms;
}